main {
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: rgb(85, 84, 84);
}

.navbar {
  color: white;
  font-family: 'Hammersmith One', sans-serif;
  display: flex;
  align-items: center;
}

.title {
  margin: 1rem 1rem;
}

.form-div {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}

.header {
  margin: 0.5rem 0;
}

.label {
  margin: 0.5rem 0;
}

.hidden {
  display: none;
}

.between {
  justify-content: space-between;
  margin: 2rem 1.5rem;
}

.text-area {
  border: solid;
  margin: 0.5rem 0;
  height: 10rem;
}

.image-container {
  margin-bottom: 1rem;
}

.save {
  width: 5rem;
  height: 2rem;
  align-self: flex-end;
  margin: 0.5rem 0;
  border: solid black;
  box-shadow: 0.2rem 0.2rem black;
  outline: none;
}

.save:hover {
  cursor: pointer;
  background-color: darkgray;
}

.text-input {
  border: solid;
  margin: 0.5rem 0;
  height: 3rem;
}

img {
  width: 100%;
}

ul {
  padding: 0;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 1rem;
}

.li-img-container {
  height: 30vh;
}

.list-img {
  height: 100%;
  object-fit: cover;
}

.entry-title {
  margin: 1rem 0;
}

.entries:hover {
  cursor: pointer;
  text-decoration: underline white;
}

.button {
  border: solid black;
  outline: none;
  padding: 0.5rem 1rem;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(68, 66, 66);
  color: white;
}
