main,
textarea {
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: rgb(85, 84, 84);
}

.navbar {
  color: white;
  font-family: 'Hammersmith One', sans-serif;
  display: flex;
  align-items: center;
}

.title {
  margin: 1rem 1rem;
}

.form-div {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}

.header {
  margin: 0.5rem 0;
}

.label {
  margin: 0.5rem 0;
}

.between {
  justify-content: space-between;
  margin: 2rem 1.5rem;
}

.text-area {
  border: solid;
  margin: 0.5rem 0;
  height: 10rem;
}

.image-container {
  margin-bottom: 1rem;
}

.delete-entry:hover {
  text-decoration: underline;
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

.save {
  width: 5rem;
  height: 2rem;
  margin: 0.5rem 0;
  border: solid black;
  box-shadow: 0.2rem 0.2rem black;
  outline: none;
}

.save:hover {
  cursor: pointer;
  background-color: darkgray;
}

.text-input {
  border: solid;
  margin: 0.5rem 0;
  height: 3rem;
}

img {
  width: 100%;
}

ul {
  padding: 0;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 1rem;
}

.li-img-container {
  height: 25rem;
}

.list-img {
  height: 100%;
  object-fit: cover;
}

.entry-title {
  margin: 1rem 0;
}

.entries:hover {
  cursor: pointer;
  text-decoration: underline white;
}

.button {
  border: solid black;
  outline: none;
  padding: 0.5rem 1rem;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(68, 66, 66);
  color: white;
}

.right {
  position: relative;
}

.edit-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.edit-icon {
  width: 100%;
}

.edit-icon:hover {
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.box {
  width: 30rem;
  height: 15rem;
  background-color: white;
  padding: 2rem;
  text-align: center;
}

.delete-question {
  margin-bottom: 3.5rem;
}

.modal-button {
  border: solid black;
  padding: 0.3rem 1rem;
  outline: none;
}

.modal-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.cancel {
  border: solid black;
}

.confirm {
  background-color: rgb(211, 46, 46);
  color: white;
}

.confirm:hover {
  color: red;
}
